@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.directory-tree li:nth-child(odd) {
  background-color: #001a2b; /* Light color for odd rows */
}

.directory-tree li:nth-child(even) {
  background-color: #002b48; /* Dark color for even rows */
}

.directory-tree li li:hover {
  background-color: #5d5d5d; /* Light color when hovered */
}
